<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.mikesajak.mediasync.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
            <!--android:theme="@style/Theme.AppCompat.Light.DarkActionBar"-->
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SmbShareSelectActivity"
                android:label="@string/title_activity_smb_share_select">
            android:parentActivityName=".SettingsActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.mikesajak.mediasync.app.SettingsActivity"/>
        </activity>
        <activity
                android:name=".SmbShareBrowserActivity"
                android:label="@string/title_activity_smb_share_browser"
                android:parentActivityName=".SmbShareSelectActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.mikesajak.mediasync.app.SmbShareSelectActivity"/>
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings">
            android:parentActivityName=".MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.mikesajak.mediasync.app.MainActivity"/>
        </activity>
        <activity
                android:name=".Main2Activity"
                android:label="@string/title_activity_main2">
        </activity>
        <activity
                android:name=".ItemListActivity"
                android:label="@string/title_item_list">
        </activity>
        <activity
                android:name=".ItemDetailActivity"
                android:label="@string/title_item_detail"
                android:parentActivityName=".ItemListActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="org.mikesajak.mediasync.app.ItemListActivity"/>
        </activity>
        <activity
                android:name=".Main3Activity"
                android:label="@string/title_activity_main3">
        </activity>

        <service
                android:name=".MediaSyncService"
                android:exported="false">
        </service>

        <activity
                android:name=".ScrollingActivity"
                android:label="@string/title_activity_scrolling">
        </activity>
        <activity
                android:name=".HomeWifiSelectionActivity"
                android:label="@string/title_activity_home_wifi_selection">
        </activity>
    </application>

</manifest>
